# Implementation of Linear Regression

In [ ]:
import pandas as pd
import numpy as np

# Loading the dataset

In [16]:
dataset = pd.read_csv('Age_Height_Data.csv')

In [35]:
dataset

   Age in Months  height in cm
0             18            76
1             19            77
2             20            78
3             21            78
4             22            79
5             23            80
6             24            80
7             25            81
8             26            82
9             27            82

In [18]:
dataset.shape

(10, 2)

# Feature separation

In [19]:
X = dataset[['Age in Months']]
y = dataset['height in cm']

# Spliting train-test from the dataset

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

# Defining linear regression model

In [23]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [26]:
model.fit(X_train,y_train)

LinearRegression()

# Finally predicting the y values for the X_test

In [37]:
predictions = model.predict(X_test)
df = pd.DataFrame({'Actual': y_test, 'Predicted': predictions})
df

   Actual  Predicted
8      82  81.544031
2      78  77.540117

# ThankYou!